openapi: 3.0.3
info:
  title: Elastic App search lambda functions
  description: Elastic App search lambda functions
  version: 1.0.0
security:
  - Basic: []
paths:
  "/timed-curations":
    get:
      operationId: listTimedCurations
      summary: Lists timed curations
      description: |
        Lists timed curations
      tags:
        - TimedCurations
      responses:
        "200":
          description: A list of timed curations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TimedCuration"
    post:
      operationId: createTimedCuration
      summary: create new timed curation
      description: |
        Creates new timed curation
      tags:
        - TimedCurations
      requestBody:
        $ref: "#/components/requestBodies/TimedCuration"
      responses:
        "200":
          description: Created timed curation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/TimedCuration"

  "/timed-curations/{id}":
    put:
      operationId: updateTimedCuration
      summary: Updates timed curation
      description: |
        Updates timed curations
      tags:
        - TimedCurations
      parameters:
        - name: id
          required: true
          in: path
          description: timed curation id
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/TimedCuration"
      responses:
        "200":
          description: Updated timed curation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/TimedCuration"
    delete:
      operationId: deleteTimedCuration
      summary: Deletes timed curation
      description: |
        Deletes timed curation
      tags:
        - TimedCurations
      parameters:
        - name: id
          required: true
          in: path
          description: timed curation id
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Empty content indicating a successful removal

components:
  requestBodies:
    TimedCuration:
      content:
        application/json;charset=utf-8:
          schema:
            $ref: "#/components/schemas/TimedCuration"
      description: Payload
      required: true
  securitySchemes:
    Basic:
      type: http
      scheme: Basic
  schemas:
    TimedCuration:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Identifier
        queries:
          type: array
          items:
            type: string
        promoted:
          type: array
          items:
            type: string
        hidden:
          type: array
          items:
            type: string
        startTime:
          type: string
          format: date-time
          description: Start time of curation
        endTime:
          type: string
          format: date-time
          description: Start time of curation