openapi: 3.0.3
info:
  title: Elastic App search lambda functions
  description: Elastic App search lambda functions
  version: 1.0.0
security:
  - BearerAuth: []
paths:
  "/timed-curations":
    get:
      operationId: listTimedCurations
      summary: Lists timed curations
      description: |
        Lists timed curations
      tags:
        - TimedCurations
      responses:
        "200":
          description: A list of timed curations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TimedCuration"
    post:
      operationId: createTimedCuration
      summary: create new timed curation
      description: |
        Creates new timed curation
      tags:
        - TimedCurations
      requestBody:
        $ref: "#/components/requestBodies/TimedCuration"
      responses:
        "200":
          description: Created timed curation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/TimedCuration"

  "/timed-curations/{id}":
    get:
      operationId: findTimedCuration
      summary: Find timed curation
      description: |
        Find timed curation
      tags:
        - TimedCurations
      parameters:
        - name: id
          required: true
          in: path
          description: timed curation id
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Found timed curation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/TimedCuration"
    put:
      operationId: updateTimedCuration
      summary: Updates timed curation
      description: |
        Updates timed curations
      tags:
        - TimedCurations
      parameters:
        - name: id
          required: true
          in: path
          description: timed curation id
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/TimedCuration"
      responses:
        "200":
          description: Updated timed curation
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/TimedCuration"
    delete:
      operationId: deleteTimedCuration
      summary: Deletes timed curation
      description: |
        Deletes timed curation
      tags:
        - TimedCurations
      parameters:
        - name: id
          required: true
          in: path
          description: timed curation id
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Empty content indicating a successful removal

  "/scheduled-crawl":
    get:
      operationId: listScheduledCrawls
      summary: Lists scheduled crawls
      description: |
        Lists scheduled crawls
      tags:
        - ScheduledCrawl
      responses:
        "200":
          description: A list of scheduled crawls
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ScheduledCrawl"
    post:
      operationId: createScheduledCrawl
      summary: create new scheduled crawl
      description: |
        Creates new scheduled crawl
      tags:
        - ScheduledCrawl
      requestBody:
        $ref: "#/components/requestBodies/ScheduledCrawl"
      responses:
        "200":
          description: Created scheduled crawl
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/ScheduledCrawl"

  "/scheduled-crawl/{id}":
    get:
      operationId: findScheduledCrawl
      summary: Find scheduled crawl
      description: |
        Find scheduled crawl
      tags:
        - ScheduledCrawl
      parameters:
        - name: id
          required: true
          in: path
          description: scheduled crawl id
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Found scheduled crawl
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/ScheduledCrawl"
    put:
      operationId: updateScheduledCrawl
      summary: Updates scheduled crawl
      description: |
        Updates scheduled crawl
      tags:
        - ScheduledCrawl
      parameters:
        - name: id
          required: true
          in: path
          description: scheduled crawl id
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/ScheduledCrawl"
      responses:
        "200":
          description: Updated scheduled crawl
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/ScheduledCrawl"
    delete:
      operationId: deleteScheduledCrawl
      summary: Deletes scheduled crawl
      description: |
        Deletes scheduled crawl
      tags:
        - ScheduledCrawl
      parameters:
        - name: id
          required: true
          in: path
          description: scheduled crawl id
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Empty content indicating a successful removal

  "/login":
    post:
      operationId: login
      summary: Create session authentication
      description: |
        Create session authentication
      security:
        - Basic: []
        - BearerAuth: []
      tags:
        - Authentication
      responses:
        "200":
          description: Logged in
          content:
            application/json;charset=utf-8:
              schema:
                $ref: "#/components/schemas/Authentication"

  "/logout":
    post:
      operationId: logout
      summary: Deletes session authentication
      description: |
        Deletes session authentication
      tags:
        - Authentication
      responses:
        "204":
          description: Empty content indicating a successful removal

components:
  requestBodies:
    TimedCuration:
      content:
        application/json;charset=utf-8:
          schema:
            $ref: "#/components/schemas/TimedCuration"
      description: Payload
      required: true
    ScheduledCrawl:
      content:
        application/json;charset=utf-8:
          schema:
            $ref: "#/components/schemas/ScheduledCrawl"
      description: Payload
      required: true
  securitySchemes:
    Basic:
      type: http
      scheme: Basic
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    TimedCuration:
      type: object
      required:
        - queries
        - promoted
        - hidden
        - startTime
        - endTime
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Identifier
        queries:
          type: array
          items:
            type: string
        promoted:
          type: array
          items:
            type: string
        hidden:
          type: array
          items:
            type: string
        startTime:
          type: string
          format: date-time
          description: Start time of curation
        endTime:
          type: string
          format: date-time
          description: Start time of curation
    ScheduledCrawl:
      type: object
      required:
        - name
        - seedURLs
        - frequency
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: Identifier
        name:
          type: string
        seedURLs:
          type: array
          items:
            type: string
        frequency:
          type: number
    Authentication:
      type: object
      required:
        - token
        - expiry
      properties:
        token:
          type: string
          readOnly: true
          description: Identifier
        expiry:
          type: number